:root {
    --thinBlur: blur(5px) saturate(1.8);
    --normalBlur: blur(10px) saturate(1.8);
    --thickBlur: blur(20px) saturate(1.8);
    --font-family: 'Pretendard GOV', 'Noto Sans KR', sans-serif;
}

:not(.pi) {
    /* primeicons 사용하는 부분 제외한 곳에 Pretendard GOV 적용 */
    font-family: 'Pretendard GOV', 'Noto Sans KR', sans-serif !important;
    font-weight: 500;
}

body {
    transition: background-color 0.3s ease-in-out;
}

header .gnb-wrap {
    opacity: 0 !important;
    transition: opacity 0.4s ease-in-out;
}

header .gnb-wrap.show {
    opacity: 1 !important;
}

.main-stu .area__right .main-list .main-stu__info {
    background-color: #6359B180 !important;
    backdrop-filter: var(--thinBlur);
}

.main-stu .area__right .main-list .main-stu__info .stu-info__left .user .user-info .name,
.list-form .list-form__tit .subject,
.list-form .list-form__tit h3 {
    font-size: 1.4rem !important;
    font-weight: 900 !important;
}

.main-stu .area__right .main-stu__next .main-list__wrap .inner-wrap .inner-right .list-form.list-form__bach .list-form__topWrap .list-form__tit {
    height: 100% !important;
}

.main-stu .area__right .main-stu__next .main-list__wrap .inner-wrap .inner-right .list-form.list-form__bach .list-form__topWrap .list-form__tit .date-list {
    padding-bottom: 4rem;
}

.main-stu .area__right .main-stu__next .main-list__wrap .inner-wrap .inner-right .list-form.list-form__bach .list-form__topWrap .list-form__tit .subject {
    overflow: visible;
}

.main-stu .area__right .main-stu__pagination {
    background-color: #ffffff50 !important;
    backdrop-filter: var(--thinBlur);
}

.main-stu .area__right .main-stu__next .main-list__wrap .inner-wrap .inner-right .list-form.list-form__bach .list-form__bottom {
    border-radius: 500px !important;
    width: fit-content;
    margin-bottom: 0.4rem !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}

.main-stu .area__right .main-stu__pagination .swiper-pagination-bullet>span,
.t-blue {
    font-weight: 700 !important;
}

.main-stu .area__right .main-stu__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #1C1C1D80 !important;
    backdrop-filter: var(--thickBlur);
    color: #000 !important;
}

li.swiper-slide.main-stu__next.swiper-slide-active div.school-info>div.list-form {
    background: linear-gradient(to bottom, #1060E150, #568EE8 80%) !important;
    backdrop-filter: var(--normalBlur);
}

.main-stu .area__right .main-list .main-stu__notice .tbl-list table {
    background-color: transparent !important;
}

header.area-wrap .area__left.tchInfo-Wrap .tchInfoBtn .tchInfo,
header .hd-util .alert-pop,
header .hd-util .quick-pop,
header .gnb-wrap .gnb-cont,
.main-stu .area__right .main-stu__next .main-list__wrap .inner-wrap .inner-right .list-form.list-form__bach .list-form__bottom,
.p-dropdown-panel {
    background-color: #ffffff80 !important;
    backdrop-filter: var(--thickBlur);
}

.com-box {
    background-color: transparent !important;
    position: relative;
}

.com-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff50 !important;
    backdrop-filter: var(--thinBlur);
    border-radius: 10px;
    z-index: -1;
}

.main-stu .area__right .main-list .main-stu__use .stu-use__list .swiper-slide .com-box i {
    background-size: contain;
}

header.area-wrap .area__left.tchInfo-Wrap .tchInfoBtn .tchInfo * {
    background-color: transparent !important;
}

.calendar-wrap .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    border-radius: 500px !important;
}

.calendar-page .fc .fc-toolbar-title {
    font-size: 1.4rem !important;
    font-weight: 900 !important;
}

.calendar-page .fc-h-event .fc-event-title {
    filter: drop-shadow(0 0 8px black);
    font-size: 0.8rem !important;
}

.pi-check:before {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-datepicker .p-datepicker-header .p-datepicker-title span,
.p-datepicker .p-timepicker>div>span {
    font-size: 1.3rem !important;
    font-weight: 700 !important;
}

.p-datepicker table td.p-datepicker-today>span {
    align-items: self-start;
    padding-top: 0.2rem;
    box-sizing: border-box;
}
.p-datepicker table td.p-datepicker-today>span::after {
    content: "오늘";
    position: absolute;
    font-size: 0.7rem;
    font-weight: 700;
    bottom: 0;
    padding-bottom: 0.2rem;
}