@charset "UTF-8";

/* From https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/dark.css */

::-webkit-scrollbar-thumb {
  background-color: #39393D !important;
}

body,
header,
footer,
footer * {
  background-color: #000 !important;
  border-color: #39393D !important;
}

body .hd-logo span,
header .hd-logo span,
.help-list li .btn b,
.help-link .com-box p,
.help-tit,
.help-link__sub .help-link__list a,
.main-stu .area__right .main-list .main-stu__menu li p,
.calendar-wrap .fc .fc-toolbar-title,
.calendar-wrap .fc .fc-daygrid-day-number,
.main-stu .area__right .main-stu__next .main-list__wrap .list-form__tit p,
.p-dialog>div *,
table.p-datatable-table.ng-star-inserted > tbody > tr td div {
  color: #fff !important;
}

.com-box,
header.area-wrap .area__left.tchInfo-Wrap .tchInfoBtn .tchInfo,
header .hd-util .alert-pop,
header .hd-util .quick-pop,
header .gnb-wrap .gnb-cont,
.main-stu .area__right .main-stu__pagination {
  background-color: #1C1C1D80 !important;
}

body, header, footer, footer *,
.com-box, .com-box h3, .com-box span, .com-box .btn,
.input-row label,
table th, table th *, table td, table td .btn, table td .answer-mark, table td .tbl-tit-cut, table td .name-wrap *, .tbl-tit,
ul.tbl-view>li .view-col div.td, ul.tbl-view>li .view-col div.td div, ul.tbl-view>li .view-col div.td b, ul.tbl-view>li .view-col div.td span, ul.tbl-view>li .view-col div.td label,
.pagination *,
header .area__right *, header .area__left *, header .hd-quick li a,
header .gnb-wrap .gnb-info-tit *, 
header .gnb-wrap .gnb-info-cont>li>a,
header .gnb-wrap .gnb-scroll-wrap>li>a,
.snb-wrap .snb .tree-menu__box .tree-menu__tit,
.snb-wrap .snb .tree-menu__box .tree-menu .depth-txt *,
.tree-menu>li>a,
.tree-menu .depth-txt.depth1-txt,
.chk-tree label,
.chk-tree.active label,
.sch-wrap .sch-select .sch-select-col .sch-label,
.sub-tit-b,
.toggle-scope .page-simple ul li .active-wrap p,
.toggle-scope .page-detail h3 button span,
.checkbox input+label,
.b-blue-line,
.display-con, .display-con *,
.sub-tit-bs,
.cont-area *,
.participant-top *,
.title,
.participant-txt-li .state,
.group-create__stuList *,
.title-wrap *,
.group-create .person *,
.hashTag-ul .hashTag-li,
#calendar *,
.cal-category *,
.calendar-btn *,
.timetable button.on,
.modal-tit h2,
.modal-cont-wrap .modal-cont,
.tab-menu li.on .tab-tit,
.drag-set-wrap h2,
.validity>span,
.card-detail-cont-list p,
.card-detail-cont-list b,
.fms_subTitle p,
.fms_inner h3,
.fms_inner article p,
.fms_inner article .fms_inner-con h4,
.fms_inner article,
.page-top__tit *,
.list-form__topWrap.topWrap2 *,
.list-form.list-style-recommend .tit,
.cont-wrap .tit,
.view-col__wrap .view-col__wrap-tit,
.b-gray-line,
.badge-detail *,
.modal-cont *,
.list-form.badge-rank *,
.badge-txt,
.question-edit .question-edit__right *,
.question-con .question-con__question,
.main-tit,
.list-form.answer-note-style .list-form__topWrap .list-form__tit .answer-note-txt,
.state-wrap__count,
.state-wrap__count b,
.contents-top span,
.question-type .question-type__select .tit,
.btn .f-12,
.upload-box__bot *,
.upload-area *,
.upload-info .upload-txt *,
.plan-wrap .plan-wrap__tit h2,
.plan-wrap .plan-wrap__list ul li .event b,
.classInfo .classInfo-wrap *,
.classLatest li *,
.classMat li .titleWrap *,
.main-mobile *,
.chatting-wrap,
.chatting-wrap .chatting-prev .btn,
.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .person .name,
.storage-tit,
.storage-info .info-area .info-area__li,
.api-wrap .tit-wrap .tit,
.api-mypage__info li,
.main-stu .area__right .main-stu__slide .main-stu__tit,
.main-stu .area__right .main-stu__next .main-list__wrap .list-form__tit .date-list,
.main-stu .area__right .main-list .main-stu__notice .tit-wrap button,
.api-main__menu .api-menu__box h3,
.api-main__menu .api-menu__box p,
.list-form .state,
.error_con_wrap {
  color: #ddd !important;
}

select,
input[type=text],
input[type=number],
.viewDetail .view-info,
.viewDetail .view-info *,
.viewDetail .view-con *,
.viewDetail .view-nav *,
.viewDetail .view_attach,
.viewDetail .view_attach *,
.viewComment_ *,
.multi-file-upload * {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

button:disabled,
ul.tbl-view,
.pagination a.active,
header li .btn,
header .hd-util .alert-pop button,
header .gnb-wrap .gnb-info-cont>li>a>div,
.snb-wrap .snb-door:before,
.snb-wrap .snb .tree-menu__box .tree-menu .depth-txt.depth1-txt.current,
.snb-wrap .snb .tree-menu__box .tree-menu .depth-txt.current,
.toggle-wrap,
.toggle-scope .page-simple ul li .active-wrap .btn-wrap,
.checkbox input,
.drag-set-wrap .drag-zone div .pick-none,
.contents-bot-txt.addLine::after,
.snb-door2:before,
.viewComment_ *::before,
.button-pop__ul,
.display-con .checkbox input+label:before,
.participant-txt-li.active,
.group-create .person,
.display-con .type ul,
.timetable button.on,
.hashTag-ul .hashTag-li,
.participant-infoWrap__cont,
.participant-infoWrap__cont .tbl-view-mypage .checkbox input+label:before,
.groupList,
.content-info__r,
.fullCheck.bg-skyblue input[type=radio]:checked+label,
.list-form.loading .list-form__tit .subject,
.list-form.loading .list-form__tit .font-s,
.list-form.loading .list-form__tit .button-wrap,
.list-form.loading.list-style-recommend .list-form__top,
.list-form.loading.list-style-recommend .list-form__tit .tit,
.list-form.loading.list-style-recommend .list-form__tit .subject2,
.list-form.loading.list-style-recommend .list-form__tit .like-btn,
.list-form.loading.prev-content .list-form__top .button-wrap,
.list-form.loading.prev-content .list-form__tit .select-btn,
.list-form.loading.list-style-recommend2 .list-form__top .state,
.list-form.loading.list-style-recommend2 .list-form__top .tit,
.list-form.loading.list-style-recommend2 .list-form__top .sub-tit,
.list-form.loading.list-style-recommend2 .list-form__top .name,
.question-list .question-list__check,
.question-list-btn,
.question-top,
.question-con .question-con__explain-li,
.btn-more .more-con,
.level-table table th,
.fullCheck input[type=checkbox]+label,
.question-type .question-type__select,
.btn-move,
.check-title,
.participant-content__ul.style02 .participant-content__li .btn.paperList-btn,
.participant-content__ul .participant-content__li .addGroup-btn .btn,
.content-info .content-info__li .content-info__r .info__r-ul .info__r-li,
.sch-box.sch-04 .sch-04-btn::before,
.storage-info .info-area,
.b-gray-line,
.api-dev__list li .display-bar .display-con.display-tit,
.api-login .inner-wrap.api-login__util li,
.p-paginator .p-component,
.p-dropdown {
  background-color: #39393D !important;
}

table, textarea,
table th,
ul.tbl-view>li>div,
ul.tbl-view>li .view-col div.td,
header .area__left .tchInfo, header .area__left .tchInfo *,
header .gnb-wrap .gnb-tit,
header .gnb-wrap .gnb-info,
header .gnb-wrap .gnb,
.tree-wrap .tree-left,
.tree-wrap .tree-menu__box,
.toggle-scope .page-detail .active-wrap,
.b-red-line,
.b-blue-line,
.b-black-line,
.modal-wrap,
.bg-gray,
.bg-white,
.card-detail-cont,
.fms_subTitle,
.fms_inner article,
.error_con_wrap,
.tbl-thead,
.button-pop__ul .checkbox input+label:before,
.participant-txt-li.active .checkbox input+label:before,
.group-create__stuList,
.group-create__stuList .stuList,
.groupList,
.group-create .person.current,
.inner-wrap .inner-left,
.participant-infoWrap__tit,
.participant-infoWrap__cont .checkbox input+label:before,
.bg-blue,
.bg-skyblue,
.modal-right .answer-wrap,
.list-form__topWrap.topWrap2,
.fullCheck input[type=radio]+label,
.list-form.list-style-recommend,
.list-form.list-style-recommend2,
.button-pop__top,
.list-form.loading,
.list-form.loading.list-style-recommend2 .list-form__top,
.page-list table td,
.tbl-list.status-table table tr.bg-skyblue,
.fullCheck.plusChk input[type=checkbox]+label,
.question-list .question-list__check .checkbox input+label:before,
.question-edit .question-edit__right,
.question-top .checkbox input+label:before,
.question-con,
.list-form.answer-note-style,
.level-table table th .level,
.level-table table td,
.top-sch-wrap,
.contents .question-form .area__left,
.question-type .question-type__select .checkbox input+label:before,
.upload-box__top,
.list-form.list-style-page,
.tbl-list.status-table table tr.bg-gray,
.classInfo .classInfo-wrap,
.classLatest li,
.classMat li .titleWrap,
.main-mobile,
.chatting-wrap,
.chatting-wrap .chatting-prev .btn,
.video-box__table.tbl-list table td,
.api-mypage__info,
.p-datatable .p-datatable-tbody>tr,
.p-datatable .p-paginator-bottom,
.p-sidebar,
.p-dialog>div,
.list-form .state {
  background-color: #1C1C1D !important;
}

::-moz-placeholder, ::placeholder,
.tbl-des,
header .gnb-wrap .gnb-scroll-wrap>li .gnb__lnb>li>a,
.tree-menu>li>ul>li>a,
.tree-menu .depth-txt,
.toggle-scope .page-detail .tree-check__tit,
.timetable button,
ul.input-wrap li h4,
ul.input-wrap .checkbox label,
ul.input-wrap .checkbox label+input+span,
.input-hyphen,
.card-detail-cont-list h5,
.contents-bot-txt,
.participant-txt-li .person .name,
.main-stu .area__right .main-list .main-stu__notice .tbl-list table .contents-top .date {
  color: #8F8F93 !important;
}

textarea,
table,
table *,
table td,
ul.tbl-view,
ul.tbl-view>li,
ul.tbl-view>li .view-col>div,
header .area__right *,
header .gnb-wrap .gnb-tit,
header .gnb-wrap .gnb-info,
.snb-wrap *, .tree-wrap .tree-menu__box,
.tit-btn-group .b-blue-line,
.toggle-scope .page-detail .tree-menu__box,
.tab-menu,
.drag-set-wrap .drag-set-list h2,
.drag-set-wrap .tree-wrap *,
.checkbox-list-wrap,
.tbl-tbody,
.display-con .num,
.participant-content__ul *,
.title,
.group-create__stuList *,
.display-con .type ul,
.participant-infoWrap__li,
.participant-info,
.participant-info *,
.viewComment.viewComment-wrap,
.b-gray-line,
.list-form.badge-rank,
.question-list .question-list__top,
.question-list .question,
.question-list-btn,
.question-con .question-con__explain,
.btn-more .more-con,
.upload-box__bot,
.upload-area,
.upload-info,
.group-create .group-create__groupList .groupList .groupList-ul,
.list-form .list-form__topWrap .list-form__tit .question,
.sch-box.sch-04,
.api-wrap .display-con__box,
.api-mypage__info,
.api-main__menu .api-menu__box {
  border-color: #39393D !important;
}

ul.tbl-view>li .view-col h5.th {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-right-color: #39393D !important;
}

ul.tbl-view>li .view-col div.td .setting-toggle .toggleSwitch .toggleButton,
.sub-tit-s, .sub-tit-c,
.toggle-wrap h4,
.toggle-wrap p,
.display-con .basic,
.display-con .setting-toggle .toggleSwitch .toggleButton,
.sub-tit-ss,
.participant-txt-li .person .name-s,
.contents .com-box .tit-wrap .btn,
.page-top__more *,
.answer-toggle-btn span {
  color: #7D7D82 !important;
}

header .gnb-wrap .gnb .gnb-ul .gnb-li .gnbLnb-wrap .gnb__lnb li a.current,
header .gnb-wrap .gnb .gnb-ul .gnb-li.active .link,
header .hd-quick li a.current,
.state-list.active {
  color: #1060E1 !important;
}

header .area__right *,
.button-pop__ul *,
.content-info__r * {
  color: #ddd !important;
  border-color: #39393D !important;
}

header .gnb-wrap {
  background-color: rgba(0, 0, 0, 0.8);
}

.snb-wrap .fs-snb-tit span,
.file-upload input:-moz-read-only,
.file-upload input:read-only {
  background-color: #1C1C1D !important;
  color: #8F8F93 !important;
}

.chk-tree .chk-tree__box,
.checkbox input+label:before {
  background-color: #39393D !important;
  border: none !important;
}

.chk-tree.active .chk-tree__box {
  background-color: #1060e1 !important;
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_chk_01.svg") !important;
}

.sch-wrap {
  border: none;
}

.toggle-wrap .btn-wrap {
  background-color: #28282a;
}

.toggle-scope .page-detail h3:after {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_arr_scope.svg") !important;
}

.checkbox input:checked+label:before {
  background-color: #1060e1 !important;
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_chk_01.svg") !important;
}

.timetable thead th {
  border-bottom: 1px solid #39393D !important;
}

.modal {
  background-color: black;
}

.modal-tit,
.drag-set-wrap .drag-zone,
.list-form.include-addClass,
.display-con .display-con__txt,
.calendar-btn,
.color-select,
.color-select-user,
.sch-03-btn {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.tab-menu li.on .tab-tit::after {
  background-color: #ddd;
}

.drag-set-wrap .drag-zone div .drag-zone-pick button,
.drag-set-wrap .drag-set-list button {
  background-color: #39393D !important;
  color: #ddd !important;
  border: none !important;
}

.drag-set-wrap .drag-set-list>li button.on {
  background-color: #7098d6 !important;
  color: #fff !important;
}

.card-detail-btn {
  color: #8F8F93;
}

.card-detail-cont {
  box-shadow: 1px 1px 10px 0px rgba(158, 158, 158, 0.4) !important;
}

.validity>i {
  border: 1px solid #bababa !important;
}

.validity.success>i {
  border: none !important;
}

.fms_subTitle,
.fms_inner article {
  border: 0;
}

.tbl-thead {
  border-color: #39393D !important;
}

.multi-file-upload .uploadTit button,
.multi-file-upload .uploadBtn {
  border: 1px solid #000;
}

/*---- ICON ----*/
.ico {
  /*-- gnb --*/
  /*-- header --*/
  /*-- tree --*/
}

.ico-gnb-close {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_close.svg") !important;
}

.ico-hd-cal {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_cal.svg") !important;
}

.ico-hd-report {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_report.svg") !important;
}

.ico-hd-info {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_info.svg") !important;
}

.ico-gnb-setting {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_setting.svg") !important;
}

.ico-gnb-time {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_time.svg") !important;
}

.ico-gnb-survey {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_survey.svg") !important;
}

.ico-gnb-hope {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_hope.svg") !important;
}

.ico-admin {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_hd_admin.svg") !important;
}

.ico-noti {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-noti_w.svg") !important;
}

.ico-help {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-help_w.svg") !important;
}

.ico-quick {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-quick_w.svg") !important;
}

.ico-gnb {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-gnb_w.svg") !important;
}

.ico-sch {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_search.svg") !important;
}

.ico-prev {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tbl_prev.svg") !important;
}

.ico-next {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tbl_next.svg") !important;
}

.ico-plus {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_plus.svg") !important;
}

.ico-tree__end {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tree_end.svg") !important;
}

.ico-tree__next {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tree_next.svg") !important;
}

.ico-tree__prev {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tree_prev.svg") !important;
}

.ico-tree__start {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tree_start.svg") !important;
}

.ico-arr-w {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_arr_w.svg") !important;
}

.ico-modal-close {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_close_modal.svg") !important;
}

.ico-back {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_back.svg") !important;
}

.ico-more {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-more.svg") !important;
}

.ico-page-more {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-page-more.svg") !important;
}

.ico-setting {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-setting.svg") !important;
}

.ico-logout {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-logout.svg") !important;
}

.ico-home-e {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-home-w.svg") !important;
}

.ico-lnb-class {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-class-w.svg") !important;
}

.ico-lnb-neis {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-neis_w.svg") !important;
}

.ico-lnb-neis2 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-neis2-w.svg") !important;
}

.ico-lnb-neisSub {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-neisSub-w.svg") !important;
}

.ico-lnb-neisSub2 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-neisSub2-w.svg") !important;
}

.ico-lnb-function {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-function-w.svg") !important;
}

.ico-lnb-question {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-question-w.svg") !important;
}

.ico-lnb-student {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-student-w.svg") !important;
}

.ico-lnb-share {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-share-w.svg") !important;
}

.ico-lnb-homework {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-homework-w.svg") !important;
}

.ico-lnb-quespool {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-quespool-w.svg") !important;
}

.ico-lnb-contents {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-contents-w.svg") !important;
}

.ico-lnb-setting {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-setting-w.svg") !important;
}

.ico-lnb-service {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-service-w.svg") !important;
}

.ico-lnb-guide {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-guide-w.svg") !important;
}

.ico-lnb-standard {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-standard-w.svg") !important;
}

.ico-lnb-course {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-course-w.svg") !important;
}

.ico-lnb-entrust {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-entrust-w.svg") !important;
}

.ico-lnb-data {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-data-w.svg") !important;
}

.ico-lnb-etc {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-etc-w.svg") !important;
}

.ico-lnb-class01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-class01-w.svg") !important;
}

.ico-lnb-class02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-class02-w.svg") !important;
}

.ico-lnb-class03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-class03-w.svg") !important;
}

.ico-lnb-task01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-task01-w.svg") !important;
}

.ico-lnb-task02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-task02-w.svg") !important;
}

.ico-lnb-task03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-task03-w.svg") !important;
}

.ico-lnb-question01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-question01-w.svg") !important;
}

.ico-lnb-question02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-question02-w.svg") !important;
}

.ico-lnb-question03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-question03-w.svg") !important;
}

.ico-lnb-contents01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-contents01-w.svg") !important;
}

.ico-lnb-contents02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-contents02-w.svg") !important;
}

.ico-lnb-contents03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-contents03-w.svg") !important;
}

.ico-lnb-app {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-app-w.svg") !important;
}

.ico-lnb-app01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-app01-w.svg") !important;
}

.ico-lnb-app02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-app02-w.svg") !important;
}

.ico-lnb-app03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-app03-w.svg") !important;
}

.ico-comment-clx {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-comment-clx_w.svg") !important;
}

.ico-stu_school {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_school.svg") !important;
}

.ico-stu_class {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_class.svg") !important;
}

.ico-stu_write {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_write.svg") !important;
}

.ico-stu_grade {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_grade.svg") !important;
}

.ico-stu_health {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_health.svg") !important;
}

.ico-stu_menu {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_menu.svg") !important;
}

.ico-stu_survey {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_survey.svg") !important;
}

select {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_arr_sch.svg") !important;
}

.input-date.input-cal {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_calendar.svg") !important;
}

.input-date.input-time {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_time.svg") !important;
}

.btn-tbl__del {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/btn_tbl_del.svg") !important;
}

.card-more::before,
.card-btn-more::before,
.card-detail-btn::before {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_card_more.svg") !important;
}

.group-create .person {
  border-color: #1C1C1D !important;
}

.color-selected.active::before,
.color-wrap.position-bottom .color-selected.active::before {
  display: none;
}

.main-stu .area__right .main-list .main-stu__notice .tbl-list table,
.b-blue-dark-line {
  background: none !important;
}

.list-form .list-form__topWrap .list-form__tit .question .question-blur {
  background: linear-gradient(to bottom, transparent 0%, #1C1C1D 80%, #1C1C1D 100%);
}

.fullCheck input[type=checkbox]:checked+label,
.participant-content__ul.style02 .participant-content__li .btn.paperList-btn.active {
  background-color: #1060E1 !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__alarm p,
.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat,
.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat .chat-link__txt *,
.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat-file .chat-file,
.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat-file .chat-file__txt *,
.chatting-wrap .chatting-areaWrap .chatting-input .chat-file,
.chatting-wrap .chatting-areaWrap .chatting-input .chat-file__txt * {
  background-color: #39393D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat::before {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/chat-shape.svg") !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con.other .chat::before {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/chat-shape2.svg") !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .btn-delete,
.state-list {
  color: #757575 !important;
}

.chatting-wrap .chatting-areaWrap .chatting-input .chatting-input__btn .btn.b-red-line {
  color: #fe2929 !important;
}

.ico-totalDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-totalDoc_w.svg);
}

.ico-shareDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-shareDoc_w.svg);
}

.ico-latestDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-latestDoc_w.svg);
}

.ico-importDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-importDoc_w.svg);
}

.ico-trash {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-trash_w.svg);
}

.storage-tit span,
.api-mypage__info li .t-blue {
  color: #1060e1 !important;
}

.storage-info .info-area .info-area__li span {
  color: #FF3B00 !important;
}

.state-list.active .ico-folder_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_folder_b.svg);
}

.state-list.active .ico-doc_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-doc-a.svg);
}

.state-list.active .ico-readDoc_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-readDoc-a.svg);
}

.state-list.active .ico-del_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-del-a.svg);
}

.state-list.active .ico-changeNm_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-changeNm-a.svg);
}

.state-list.active .ico-editDoc_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-editDoc-a.svg);
}

.state-list.active .ico-down_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-down-a.svg);
}

.state-list.active .ico-moveDoc_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-moveDoc-a.svg);
}

.state-list.active .ico-copy_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-copy-a.svg);
}

.state-list.active .ico-share_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-share-a.svg);
}

.ico-detailInfo {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-detailInfo_g.svg);
}

.ico-type_folder {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_folder_w.svg);
}

.ico-type_video {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_video_w.svg);
}

.ico-folder_f {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_folder_w.svg);
}

.ico-type_doc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_doc_w.svg);
}

.ico-type_excel {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_excel_w.svg);
}

.ico-type_ppt {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_ppt_w.svg);
}

.ico-type_zip {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_zip_w.svg);
}

.ico-type_image {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_image_w.svg);
}

.ico-type_sound {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_sound_w.svg);
}

.ico-type_unknown {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_unknown_w.svg);
}

.ico-type_class {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_class_w.svg);
}

.ico-type_time {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_time_w.svg);
}

.ico-type_homework {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_homework_w.svg);
}

.ico-type_test {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_test_w.svg);
}

.ico-type_question {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_classDoc_w.svg);
}

.ico-type_classDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_image_w.svg);
}

.ico-type_contents {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_contents_w.svg);
}

.scroll-container .view-class__btn.view-prev__btn.b-black,
.scroll-container .view-class__btn.view-next__btn.b-black {
  background-color: #39393D !important;
  opacity: 1;
}

.viewDetail .category-tit {
  background-color: transparent;
}

.api-info__top span {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/api-logo_dark.svg);
}

.api-info__top p,
.api-list__manual li p {
  color: #fff;
}

.api-list__manual li .img img {
  background-color: #fff;
  border-radius: 50%;
}

.upload-info.upload-class .upload-type {
  background-color: #39393D !important;
  border-right: 1px solid #1C1C1D;
}

.main-stu .area__right .main-list .main-stu__use .stu-use__list {
  height: 260px;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .main-stu .area__right .main-list .main-stu__use .stu-use__list {
    height: 200px;
  }
}

.main-stu .area__right .main-list .main-stu__alarm .alarm-list li a .ico-arrow-black {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico_arr_w.svg);
  width: 13px;
  height: 8px;
  transform: rotate(-90deg);
}

i.pi {
  color: #fafafa;
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #1C1C1D !important;
  background-color: #39393D !important;
}

span.p-sidebar-close-icon {
  color: #fafafa !important;
}

button.p-sidebar-close {
  background: #6c757d !important;
}

.p-datatable-scrollable th.p-frozen-column {
  background-color: #1C1C1D;
}

.p-datatable-scrollable .p-datatable-tfoot>tr>td {
  background-color: #39393D;
}

.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__prev,
.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__next {
  background-image: none !important;
}

.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__prev::before,
.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: saturate(10) brightness(0.5);
  opacity: 0.1;
}

.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__prev::before {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/images/main-stu_prev.png);
}

.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__next::before {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/images/main-stu_next.png);
}

.main-stu .area__right .main-stu__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #f8f9fa50 !important;
    color: #000 !important;
}