/* From https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/dark.css */

@charset "UTF-8";

/*---- 정렬 ----*/
/*---- FONT-STYLE ----*/
/*---- BOX-STYLE ----*/
/*---- SELECT BAR ----*/
/*---- ICON ----*/
/*---- INPUT ----*/
/*---- CHECKBOX ----*/
/*----- BREAK-POINT ----*/
/*---- TRANSITION ----*/
/*---- CONT SCROLL ----*/
/*---- TABLE ----*/
/*---- TEXT CUT ----*/
/*----- 경로 ----*/
/*---- 배경 컬러 ----*/
/*---- 배경 컬러 ----*/
/*---- 텍스트 컬러 ----*/
/*---- 공통 ----*/
::-webkit-scrollbar-thumb {
  background-color: #39393D !important;
}

body,
header {
  background-color: #000 !important;
  border-color: #39393D !important;
  color: #ddd !important;
}

body .hd-logo span,
header .hd-logo span {
  color: #fff !important;
}

footer {
  background-color: #000 !important;
  border-color: #39393D !important;
  color: #ddd !important;
}

footer * {
  background-color: #000 !important;
  border-color: #39393D !important;
  color: #ddd !important;
}

.com-box {
  background-color: #1C1C1D80 !important;
  color: #ddd !important;
}

.com-box h3 {
  color: #ddd !important;
}

.com-box span {
  color: #ddd !important;
}

.com-box .btn {
  color: #ddd !important;
}

select,
input[type=text],
input[type=number] {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

.input-row label {
  color: #ddd !important;
}

button:disabled {
  background-color: #39393D !important;
}

textarea {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

::-moz-placeholder {
  color: #8F8F93 !important;
}

::placeholder {
  color: #8F8F93 !important;
}

table {
  background-color: #1C1C1D !important;
}

table,
table * {
  border-color: #39393D !important;
}

table th {
  background-color: #1C1C1D !important;
  color: #ddd !important;
}

table th * {
  color: #ddd !important;
}

table td {
  border-color: #39393D !important;
  color: #ddd !important;
}

table td .btn {
  color: #ddd !important;
}

table td .answer-mark {
  color: #ddd !important;
}

table td .tbl-tit-cut {
  color: #ddd !important;
}

table td .name-wrap * {
  color: #ddd !important;
}

.tbl-tit {
  color: #ddd !important;
}

.tbl-des {
  color: #8F8F93 !important;
}

ul.tbl-view {
  background-color: #39393D !important;
  border-color: #39393D !important;
}

ul.tbl-view>li {
  border-color: #39393D !important;
}

ul.tbl-view>li>div {
  background-color: #1C1C1D !important;
}

ul.tbl-view>li .view-col>div {
  border-color: #39393D !important;
}

ul.tbl-view>li .view-col h5.th {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-right-color: #39393D !important;
}

ul.tbl-view>li .view-col div.td {
  color: #ddd !important;
  background-color: #1C1C1D !important;
}

ul.tbl-view>li .view-col div.td div {
  color: #ddd !important;
}

ul.tbl-view>li .view-col div.td .setting-toggle .toggleSwitch .toggleButton {
  color: #7D7D82 !important;
}

ul.tbl-view>li .view-col div.td b {
  color: #ddd !important;
}

ul.tbl-view>li .view-col div.td span {
  color: #ddd !important;
}

ul.tbl-view>li .view-col div.td label {
  color: #ddd !important;
}

.pagination * {
  color: #ddd !important;
}

.pagination a.active {
  background-color: #39393D !important;
}

/*---- CONTENTS ----*/
header .gnb-wrap .gnb .gnb-ul .gnb-li .gnbLnb-wrap .gnb__lnb li a.current {
  color: #1060E1 !important;
}

header .gnb-wrap .gnb .gnb-ul .gnb-li.active .link {
  color: #1060E1 !important;
}

header .area__left * {
  color: #ddd !important;
}

header .area__left .tchInfo {
  background-color: #1C1C1D !important;
}

header .area__left .tchInfo * {
  background-color: #1C1C1D !important;
}

header .area__right * {
  color: #ddd !important;
  border-color: #39393D !important;
}

header .hd-quick li a {
  color: #ddd !important;
}

header .hd-quick li a.current {
  color: #1060E1 !important;
}

header li .btn {
  background-color: #39393D !important;
}

header .hd-util .quick-pop {
  background-color: #1C1C1D80 !important;
}

header .hd-util .alert-pop {
  background-color: #1C1C1D !important;
}

header .hd-util .alert-pop button {
  background-color: #39393D !important;
}

header .gnb-wrap {
  background-color: rgba(0, 0, 0, 0.8);
}

header .gnb-wrap .gnb-tit,
header .gnb-wrap .gnb-info,
header .gnb-wrap .gnb,
header .gnb-wrap .gnb-cont {
  background-color: #1C1C1D !important;
}

header .gnb-wrap .gnb-tit,
header .gnb-wrap .gnb-info {
  border-color: #39393D !important;
}

header .gnb-wrap .gnb-info-tit * {
  color: #ddd !important;
}

header .gnb-wrap .gnb-info-cont>li>a {
  color: #ddd !important;
}

header .gnb-wrap .gnb-info-cont>li>a>div {
  background-color: #39393D !important;
}

header .gnb-wrap .gnb-scroll-wrap>li>a {
  color: #ddd !important;
}

header .gnb-wrap .gnb-scroll-wrap>li .gnb__lnb>li>a {
  color: #8F8F93 !important;
}

.snb-wrap .fs-snb-tit span {
  background-color: #1C1C1D !important;
  color: #8F8F93 !important;
}

.snb-wrap .snb-door:before {
  background-color: #39393D !important;
}

.snb-wrap * {
  border-color: #39393D !important;
}

.snb-wrap .snb .tree-menu__box .tree-menu__tit {
  color: #ddd !important;
}

.snb-wrap .snb .tree-menu__box .tree-menu .depth-txt * {
  color: #ddd !important;
}

.snb-wrap .snb .tree-menu__box .tree-menu .depth-txt.depth1-txt.current {
  background-color: #39393D !important;
}

.snb-wrap .snb .tree-menu__box .tree-menu .depth-txt.current {
  background-color: #39393D !important;
}

.tree-wrap .tree-left {
  background-color: #1C1C1D !important;
}

.tree-wrap .tree-menu__box {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.tree-menu>li>a {
  color: #ddd !important;
}

.tree-menu>li>ul>li>a {
  color: #8F8F93 !important;
}

.tree-menu .depth-txt.depth1-txt {
  color: #ddd !important;
}

.tree-menu .depth-txt {
  color: #8F8F93 !important;
}

.chk-tree .chk-tree__box {
  background-color: #39393D !important;
  border: none !important;
}

.chk-tree label {
  color: #ddd !important;
}

.chk-tree.active .chk-tree__box {
  background-color: #1060e1 !important;
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_chk_01.svg") !important;
}

.chk-tree.active label {
  color: #ddd !important;
}

.sch-wrap {
  border: none;
}

.sch-wrap .sch-select .sch-select-col .sch-label {
  color: #ddd !important;
}

.tit-btn-group .b-blue-line {
  border-color: #39393D !important;
}

.sub-tit-b {
  color: #ddd !important;
}

.sub-tit-s {
  color: #7D7D82 !important;
}

.sub-tit-c {
  color: #7D7D82 !important;
}

.toggle-wrap {
  background-color: #39393D !important;
}

.toggle-wrap h4,
.toggle-wrap p {
  color: #7D7D82 !important;
}

.toggle-wrap .btn-wrap {
  background-color: #28282a;
}

.toggle-scope .page-simple ul li .active-wrap p {
  color: #ddd !important;
}

.toggle-scope .page-simple ul li .active-wrap .btn-wrap {
  background-color: #39393D !important;
}

.toggle-scope .page-detail h3:after {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_arr_scope.svg") !important;
}

.toggle-scope .page-detail h3 button span {
  color: #ddd !important;
}

.toggle-scope .page-detail .active-wrap {
  background-color: #1C1C1D !important;
}

.toggle-scope .page-detail .tree-check__tit {
  color: #8F8F93 !important;
}

.toggle-scope .page-detail .tree-menu__box {
  border-color: #39393D !important;
}

/*---- COMPONENT ----*/
.checkbox input {
  background-color: #39393D !important;
}

.checkbox input+label:before {
  background-color: #39393D !important;
  border: none !important;
}

.checkbox input+label {
  color: #ddd !important;
}

.checkbox input:checked+label:before {
  background-color: #1060e1 !important;
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_chk_01.svg") !important;
}

.b-red-line,
.b-blue-line,
.b-black-line {
  background-color: #1C1C1D !important;
}

.b-blue-line {
  color: #ddd !important;
}

.file-upload input:-moz-read-only {
  background-color: #1C1C1D !important;
  color: #8F8F93 !important;
}

.file-upload input:read-only {
  background-color: #1C1C1D !important;
  color: #8F8F93 !important;
}

.timetable thead th {
  border-bottom: 1px solid #39393D !important;
}

.timetable button {
  color: #8F8F93 !important;
}

.timetable button.on {
  background-color: #39393D !important;
  color: #ddd !important;
}

.modal {
  background-color: black;
}

.modal-tit {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.modal-tit h2 {
  color: #ddd !important;
}

.modal-wrap {
  background-color: #1C1C1D !important;
}

.modal-cont-wrap .modal-cont {
  color: #ddd !important;
}

ul.input-wrap li h4 {
  color: #8F8F93 !important;
}

ul.input-wrap .checkbox label {
  color: #8F8F93 !important;
}

ul.input-wrap .checkbox label+input+span {
  color: #8F8F93 !important;
}

.input-hyphen {
  color: #8F8F93 !important;
}

.bg-gray,
.bg-white {
  background-color: #1C1C1D !important;
}

.tab-menu {
  border-color: #39393D !important;
}

.tab-menu li.on .tab-tit {
  color: #ddd !important;
}

.tab-menu li.on .tab-tit::after {
  background-color: #ddd;
}

.drag-set-wrap h2 {
  color: #ddd !important;
}

.drag-set-wrap .drag-zone {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.drag-set-wrap .drag-zone div .drag-zone-pick button {
  background-color: #39393D !important;
  color: #ddd !important;
  border: none !important;
}

.drag-set-wrap .drag-zone div .pick-none {
  background-color: #39393D !important;
}

.drag-set-wrap .drag-set-list h2 {
  border-color: #39393D !important;
}

.drag-set-wrap .drag-set-list button {
  background-color: #39393D !important;
  color: #ddd !important;
  border: none !important;
}

.drag-set-wrap .drag-set-list>li button.on {
  background-color: #7098d6 !important;
  color: #fff !important;
}

.drag-set-wrap .tree-wrap * {
  border-color: #39393D !important;
}

.card-detail-btn {
  color: #8F8F93;
}

.card-detail-cont {
  background-color: #1C1C1D !important;
  box-shadow: 1px 1px 10px 0px rgba(158, 158, 158, 0.4) !important;
}

.card-detail-cont-list h5 {
  color: #8F8F93 !important;
}

.card-detail-cont-list p,
.card-detail-cont-list b {
  color: #ddd !important;
}

.checkbox-list-wrap {
  border-color: #39393D !important;
}

.validity>span {
  color: #ddd !important;
}

.validity>i {
  border: 1px solid #bababa !important;
}

.validity.success>i {
  border: none !important;
}

.fms_subTitle {
  background-color: #1C1C1D !important;
  border: 0;
}

.fms_subTitle p {
  color: #ddd !important;
}

.fms_inner h3 {
  color: #ddd !important;
}

.fms_inner article {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border: 0;
}

.fms_inner article p {
  color: #ddd !important;
}

.fms_inner article .fms_inner-con h4 {
  color: #ddd !important;
}

.contents-bot-txt {
  color: #8F8F93 !important;
}

.contents-bot-txt.addLine::after {
  background-color: #39393D !important;
}

.error_con_wrap {
  background-color: #1C1C1D !important;
  color: #ddd !important;
}

.tbl-thead {
  border-color: #39393D !important;
  background-color: #1C1C1D !important;
}

.tbl-tbody {
  border-color: #39393D !important;
}

.snb-door2:before {
  background-color: #39393D !important;
}

.viewDetail .view-info {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

.viewDetail .view-info * {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

.viewDetail .view-con * {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

.viewDetail .view-nav * {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

.viewDetail .view_attach {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

.viewDetail .view_attach * {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

.viewComment_ * {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

.viewComment_ *::before {
  background-color: #39393D !important;
}

.multi-file-upload * {
  background-color: #1C1C1D !important;
  color: #ddd !important;
  border-color: #39393D !important;
}

.multi-file-upload .uploadTit button,
.multi-file-upload .uploadBtn {
  border: 1px solid #000;
}

/*---- ICON ----*/
.ico {
  /*-- gnb --*/
  /*-- header --*/
  /*-- tree --*/
}

.ico-gnb-close {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_close.svg") !important;
}

.ico-hd-cal {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_cal.svg") !important;
}

.ico-hd-report {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_report.svg") !important;
}

.ico-hd-info {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_info.svg") !important;
}

.ico-gnb-setting {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_setting.svg") !important;
}

.ico-gnb-time {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_time.svg") !important;
}

.ico-gnb-survey {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_survey.svg") !important;
}

.ico-gnb-hope {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_gnb_hope.svg") !important;
}

.ico-admin {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_hd_admin.svg") !important;
}

.ico-noti {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-noti_w.svg") !important;
}

.ico-help {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-help_w.svg") !important;
}

.ico-quick {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-quick_w.svg") !important;
}

.ico-gnb {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-gnb_w.svg") !important;
}

.ico-sch {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_search.svg") !important;
}

.ico-prev {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tbl_prev.svg") !important;
}

.ico-next {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tbl_next.svg") !important;
}

.ico-plus {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_plus.svg") !important;
}

.ico-tree__end {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tree_end.svg") !important;
}

.ico-tree__next {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tree_next.svg") !important;
}

.ico-tree__prev {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tree_prev.svg") !important;
}

.ico-tree__start {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_tree_start.svg") !important;
}

.ico-arr-w {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_arr_w.svg") !important;
}

.ico-modal-close {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_close_modal.svg") !important;
}

.ico-back {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_back.svg") !important;
}

.ico-more {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-more.svg") !important;
}

.ico-page-more {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-page-more.svg") !important;
}

.ico-setting {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-setting.svg") !important;
}

.ico-logout {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-logout.svg") !important;
}

.ico-home-e {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-home-w.svg") !important;
}

.ico-lnb-class {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-class-w.svg") !important;
}

.ico-lnb-neis {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-neis_w.svg") !important;
}

.ico-lnb-neis2 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-neis2-w.svg") !important;
}

.ico-lnb-neisSub {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-neisSub-w.svg") !important;
}

.ico-lnb-neisSub2 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-neisSub2-w.svg") !important;
}

.ico-lnb-function {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-function-w.svg") !important;
}

.ico-lnb-question {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-question-w.svg") !important;
}

.ico-lnb-student {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-student-w.svg") !important;
}

.ico-lnb-share {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-share-w.svg") !important;
}

.ico-lnb-homework {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-homework-w.svg") !important;
}

.ico-lnb-quespool {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-quespool-w.svg") !important;
}

.ico-lnb-contents {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-contents-w.svg") !important;
}

.ico-lnb-setting {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-setting-w.svg") !important;
}

.ico-lnb-service {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-service-w.svg") !important;
}

.ico-lnb-guide {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-guide-w.svg") !important;
}

.ico-lnb-standard {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-standard-w.svg") !important;
}

.ico-lnb-course {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-course-w.svg") !important;
}

.ico-lnb-entrust {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-entrust-w.svg") !important;
}

.ico-lnb-data {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-data-w.svg") !important;
}

.ico-lnb-etc {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-etc-w.svg") !important;
}

.ico-lnb-class01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-class01-w.svg") !important;
}

.ico-lnb-class02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-class02-w.svg") !important;
}

.ico-lnb-class03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-class03-w.svg") !important;
}

.ico-lnb-task01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-task01-w.svg") !important;
}

.ico-lnb-task02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-task02-w.svg") !important;
}

.ico-lnb-task03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-task03-w.svg") !important;
}

.ico-lnb-question01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-question01-w.svg") !important;
}

.ico-lnb-question02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-question02-w.svg") !important;
}

.ico-lnb-question03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-question03-w.svg") !important;
}

.ico-lnb-contents01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-contents01-w.svg") !important;
}

.ico-lnb-contents02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-contents02-w.svg") !important;
}

.ico-lnb-contents03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-contents03-w.svg") !important;
}

.ico-lnb-app {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-app-w.svg") !important;
}

.ico-lnb-app01 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-app01-w.svg") !important;
}

.ico-lnb-app02 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-app02-w.svg") !important;
}

.ico-lnb-app03 {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-app03-w.svg") !important;
}

.ico-comment-clx {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-comment-clx_w.svg") !important;
}

.ico-stu_school {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_school.svg") !important;
}

.ico-stu_class {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_class.svg") !important;
}

.ico-stu_write {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_write.svg") !important;
}

.ico-stu_grade {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_grade.svg") !important;
}

.ico-stu_health {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_health.svg") !important;
}

.ico-stu_menu {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_menu.svg") !important;
}

.ico-stu_survey {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico-stu_survey.svg") !important;
}

header .hd-util>li .btn.active {
  background-color: #1060E1 !important;
}

select {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_arr_sch.svg") !important;
}

.input-date.input-cal {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_calendar.svg") !important;
}

.input-date.input-time {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_time.svg") !important;
}

.btn-tbl__del {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/btn_tbl_del.svg") !important;
}

.card-more::before,
.card-btn-more::before,
.card-detail-btn::before {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/ico_card_more.svg") !important;
}

.list-form.include-addClass {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.list-form .state {
  background-color: #1C1C1D !important;
  color: #ddd !important;
}

.button-pop__ul {
  background-color: #39393D !important;
}

.button-pop__ul * {
  color: #ddd !important;
  border-color: #39393D !important;
}

.button-pop__ul .checkbox input+label:before {
  background-color: #1C1C1D !important;
}

.display-con {
  color: #ddd !important;
}

.display-con * {
  color: #ddd !important;
}

.display-con .num {
  border-color: #39393D !important;
}

.display-con .basic {
  color: #7D7D82 !important;
}

.display-con .setting-toggle .toggleSwitch .toggleButton {
  color: #7D7D82 !important;
}

.display-con .checkbox input+label:before {
  background-color: #39393D !important;
}

.display-con .display-con__txt {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.display-con .type ul {
  background-color: #39393D !important;
  border-color: #39393D !important;
}

.sub-tit-bs {
  color: #ddd !important;
}

.sub-tit-ss {
  color: #7D7D82 !important;
}

.cont-area * {
  color: #ddd !important;
}

.participant-top * {
  color: #ddd !important;
}

.participant-content__ul * {
  border-color: #39393D !important;
}

.title {
  border-color: #39393D !important;
  color: #ddd !important;
}

.participant-txt-li.active {
  background-color: #39393D !important;
}

.participant-txt-li.active .checkbox input+label:before {
  background-color: #1C1C1D !important;
}

.participant-txt-li .person .name {
  color: #8F8F93 !important;
}

.participant-txt-li .person .name-s {
  color: #7D7D82 !important;
}

.participant-txt-li .state {
  color: #ddd !important;
}

.contents .com-box .tit-wrap .btn {
  color: #7D7D82 !important;
}

.group-create__stuList {
  background-color: #1C1C1D !important;
}

.group-create__stuList * {
  border-color: #39393D !important;
  color: #ddd !important;
}

.group-create__stuList .stuList {
  background-color: #1C1C1D !important;
}

.title-wrap * {
  color: #ddd !important;
}

.groupList {
  background-color: #1C1C1D !important;
}

.group-create .person {
  border-color: #1C1C1D !important;
  background-color: #39393D !important;
}

.group-create .person * {
  color: #ddd !important;
}

.group-create .person.current {
  background-color: #1C1C1D !important;
}

.hashTag-ul .hashTag-li {
  background-color: #39393D !important;
  color: #ddd !important;
}

.inner-wrap .inner-left {
  background-color: #1C1C1D !important;
}

.participant-infoWrap__li {
  border-color: #39393D !important;
}

.participant-infoWrap__tit {
  background-color: #1C1C1D !important;
}

.participant-infoWrap__cont {
  background-color: #39393D !important;
}

.participant-infoWrap__cont .checkbox input+label:before {
  background-color: #1C1C1D !important;
}

.participant-infoWrap__cont .tbl-view-mypage .checkbox input+label:before {
  background-color: #39393D !important;
}

.participant-info {
  border-color: #39393D !important;
}

.participant-info * {
  border-color: #39393D !important;
}

.bg-blue {
  background-color: #1C1C1D !important;
}

.bg-skyblue {
  background-color: #1C1C1D !important;
}

.groupList {
  background-color: #39393D !important;
}

#calendar * {
  color: #ddd !important;
}

.cal-category * {
  color: #ddd !important;
}

.calendar-btn {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.calendar-btn * {
  color: #ddd !important;
}

.color-select {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.color-selected.active::before {
  display: none;
}

.color-wrap.position-bottom .color-selected.active::before {
  display: none;
}

.color-select-user {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.modal-right .answer-wrap {
  background-color: #1C1C1D !important;
}

.viewComment.viewComment-wrap {
  border-color: #39393D !important;
}

.content-info__r {
  background-color: #39393D !important;
}

.content-info__r * {
  color: #ddd !important;
  border-color: #39393D !important;
}

.page-top__tit * {
  color: #ddd !important;
}

.page-top__more * {
  color: #7D7D82 !important;
}

.list-form__topWrap.topWrap2 {
  background-color: #1C1C1D !important;
}

.list-form__topWrap.topWrap2 * {
  color: #ddd !important;
}

.sch-03-btn {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.fullCheck input[type=radio]+label {
  background-color: #1C1C1D !important;
}

.fullCheck.bg-skyblue input[type=radio]:checked+label {
  background-color: #39393D !important;
}

.list-form.list-style-recommend {
  background-color: #1C1C1D !important;
}

.list-form.list-style-recommend .tit {
  color: #ddd !important;
}

.list-form.list-style-recommend2 {
  background-color: #1C1C1D !important;
}

.b-gray-line {
  background-color: #39393D !important;
  border-color: #39393D !important;
  color: #ddd !important;
}

.cont-wrap .tit {
  color: #ddd !important;
}

.view-col__wrap .view-col__wrap-tit {
  color: #ddd !important;
}

.button-pop__top {
  background-color: #1C1C1D !important;
}

.list-form.loading {
  background-color: #1C1C1D !important;
}

.list-form.loading .list-form__tit .subject {
  background-color: #39393D !important;
}

.list-form.loading .list-form__tit .font-s {
  background-color: #39393D !important;
}

.list-form.loading .list-form__tit .button-wrap {
  background-color: #39393D !important;
}

.list-form.loading.list-style-recommend .list-form__top {
  background-color: #39393D !important;
}

.list-form.loading.list-style-recommend .list-form__tit .tit {
  background-color: #39393D !important;
}

.list-form.loading.list-style-recommend .list-form__tit .subject2 {
  background-color: #39393D !important;
}

.list-form.loading.list-style-recommend .list-form__tit .like-btn {
  background-color: #39393D !important;
}

.list-form.loading.prev-content .list-form__top .button-wrap {
  background-color: #39393D !important;
}

.list-form.loading.prev-content .list-form__tit .select-btn {
  background-color: #39393D !important;
}

.list-form.loading.list-style-recommend2 .list-form__top {
  background-color: #1C1C1D !important;
}

.list-form.loading.list-style-recommend2 .list-form__top .state {
  background-color: #39393D !important;
}

.list-form.loading.list-style-recommend2 .list-form__top .tit {
  background-color: #39393D !important;
}

.list-form.loading.list-style-recommend2 .list-form__top .sub-tit {
  background-color: #39393D !important;
}

.list-form.loading.list-style-recommend2 .list-form__top .name {
  background-color: #39393D !important;
}

.page-list table td {
  background-color: #1C1C1D !important;
}

.tbl-list.status-table table tr.bg-skyblue {
  background-color: #1C1C1D !important;
}

.fullCheck.plusChk input[type=checkbox]+label {
  background-color: #1C1C1D !important;
}

.badge-detail * {
  color: #ddd !important;
}

.modal-cont * {
  color: #ddd !important;
}

.list-form.badge-rank {
  border-color: #39393D !important;
}

.list-form.badge-rank * {
  color: #ddd !important;
}

.badge-txt {
  color: #ddd !important;
}

.question-list .question-list__top {
  border-color: #39393D !important;
}

.question-list .question {
  border-color: #39393D !important;
}

.question-list .question-list__check {
  background-color: #39393D !important;
}

.question-list .question-list__check .checkbox input+label:before {
  background-color: #1C1C1D !important;
}

.question-edit .question-edit__right {
  background-color: #1C1C1D !important;
}

.question-edit .question-edit__right * {
  color: #ddd !important;
}

.question-list-btn {
  border-color: #39393D !important;
  background-color: #39393D !important;
}

.question-top {
  background-color: #39393D !important;
}

.question-top .checkbox input+label:before {
  background-color: #1C1C1D !important;
}

.question-con {
  background-color: #1C1C1D !important;
}

.question-con .question-con__explain {
  border-color: #39393D !important;
}

.question-con .question-con__explain-li {
  background-color: #39393D !important;
}

.question-con .question-con__question {
  color: #ddd !important;
}

.b-blue-dark-line {
  background: none !important;
}

.btn-more .more-con {
  background-color: #39393D !important;
  border-color: #39393D !important;
}

.main-tit {
  color: #ddd !important;
}

.list-form.answer-note-style {
  background-color: #1C1C1D !important;
}

.list-form .list-form__topWrap .list-form__tit .question .question-blur {
  background: linear-gradient(to bottom, transparent 0%, #1C1C1D 80%, #1C1C1D 100%);
}

.list-form.answer-note-style .list-form__topWrap .list-form__tit .answer-note-txt {
  color: #ddd !important;
}

.state-wrap__count {
  color: #ddd !important;
}

.state-wrap__count b {
  color: #ddd !important;
}

.contents-top span {
  color: #ddd !important;
}

.level-table table th {
  background-color: #39393D !important;
}

.level-table table th .level {
  background-color: #1C1C1D !important;
}

.level-table table td {
  background-color: #1C1C1D !important;
}

.fullCheck input[type=checkbox]+label {
  background-color: #39393D !important;
}

.fullCheck input[type=checkbox]:checked+label {
  background-color: #1060E1 !important;
}

.top-sch-wrap {
  background-color: #1C1C1D !important;
}

.contents .question-form .area__left {
  background-color: #1C1C1D !important;
}

.question-type .question-type__select {
  background-color: #39393D !important;
}

.question-type .question-type__select .tit {
  color: #ddd !important;
}

.question-type .question-type__select .checkbox input+label:before {
  background-color: #1C1C1D !important;
}

.btn .f-12 {
  color: #ddd !important;
}

.upload-box__top {
  background-color: #1C1C1D !important;
}

.upload-box__bot,
.upload-area {
  border-color: #39393D !important;
}

.upload-box__bot *,
.upload-area * {
  color: #ddd !important;
}

.upload-info {
  border-color: #39393D !important;
}

.upload-info .upload-txt * {
  color: #ddd !important;
}

.list-form.list-style-page {
  background-color: #1C1C1D !important;
}

.tbl-list.status-table table tr.bg-gray {
  background-color: #1C1C1D !important;
}

.answer-toggle-btn span {
  color: #7D7D82 !important;
}

.btn-move {
  background-color: #39393D !important;
}

.check-title {
  background-color: #39393D !important;
}

.participant-content__ul.style02 .participant-content__li .btn.paperList-btn {
  background-color: #39393D !important;
}

.participant-content__ul.style02 .participant-content__li .btn.paperList-btn.active {
  background-color: #1060E1 !important;
}

.plan-wrap .plan-wrap__tit h2 {
  color: #ddd !important;
}

.plan-wrap .plan-wrap__list ul li .event b {
  color: #ddd !important;
}

.classInfo .classInfo-wrap {
  background-color: #1C1C1D !important;
}

.classInfo .classInfo-wrap * {
  color: #ddd !important;
}

.classLatest li {
  background-color: #1C1C1D !important;
}

.classLatest li * {
  color: #ddd !important;
}

.classMat li .titleWrap {
  background-color: #1C1C1D !important;
}

.classMat li .titleWrap * {
  color: #ddd !important;
}

.main-mobile {
  background-color: #1C1C1D !important;
}

.main-mobile * {
  color: #ddd !important;
}

.participant-content__ul .participant-content__li .addGroup-btn .btn {
  background-color: #39393D !important;
}

.group-create .group-create__groupList .groupList .groupList-ul {
  border-color: #39393D !important;
}

.content-info .content-info__li .content-info__r .info__r-ul .info__r-li {
  background-color: #39393D !important;
}

.list-form .list-form__topWrap .list-form__tit .question {
  border-color: #39393D !important;
}

.chatting-wrap {
  background-color: #1C1C1D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-prev .btn {
  background-color: #1C1C1D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__alarm p {
  background-color: #39393D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat {
  background-color: #39393D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat::before {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/chat-shape.svg") !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat .chat-link__txt * {
  background-color: #39393D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat-file .chat-file {
  background-color: #39393D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .chat-file .chat-file__txt * {
  background-color: #39393D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con.other .chat::before {
  background-image: url("https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/chat-shape2.svg") !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .btn-delete {
  color: #757575 !important;
}

.chatting-wrap .chatting-areaWrap .chatting-area .chatting-area__con .person .name {
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-input .chat-file {
  background-color: #39393D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-input .chat-file__txt * {
  background-color: #39393D !important;
  color: #ddd !important;
}

.chatting-wrap .chatting-areaWrap .chatting-input .chatting-input__btn .btn.b-red-line {
  color: #fe2929 !important;
}

.sch-box.sch-04 {
  border-color: #39393D !important;
}

.sch-box.sch-04 .sch-04-btn::before {
  background-color: #39393D !important;
}

.ico-totalDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-totalDoc_w.svg);
}

.ico-shareDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-shareDoc_w.svg);
}

.ico-latestDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-latestDoc_w.svg);
}

.ico-importDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-importDoc_w.svg);
}

.ico-trash {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-trash_w.svg);
}

.storage-tit {
  color: #ddd !important;
}

.storage-tit span {
  color: #1060e1 !important;
}

.storage-info .info-area {
  background-color: #39393D !important;
}

.storage-info .info-area .info-area__li {
  color: #ddd !important;
}

.storage-info .info-area .info-area__li span {
  color: #FF3B00 !important;
}

.state-list {
  color: #757575 !important;
}

.state-list.active {
  color: #1060E1 !important;
}

.state-list.active .ico-folder_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_folder_b.svg);
}

.state-list.active .ico-doc_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-doc-a.svg);
}

.state-list.active .ico-readDoc_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-readDoc-a.svg);
}

.state-list.active .ico-del_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-del-a.svg);
}

.state-list.active .ico-changeNm_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-changeNm-a.svg);
}

.state-list.active .ico-editDoc_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-editDoc-a.svg);
}

.state-list.active .ico-down_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-down-a.svg);
}

.state-list.active .ico-moveDoc_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-moveDoc-a.svg);
}

.state-list.active .ico-copy_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-copy-a.svg);
}

.state-list.active .ico-share_lg {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-share-a.svg);
}

.ico-detailInfo {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-detailInfo_g.svg);
}

.ico-type_folder {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_folder_w.svg);
}

.ico-type_video {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_video_w.svg);
}

.ico-folder_f {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_folder_w.svg);
}

.ico-type_doc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_doc_w.svg);
}

.ico-type_excel {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_excel_w.svg);
}

.ico-type_ppt {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_ppt_w.svg);
}

.ico-type_zip {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_zip_w.svg);
}

.ico-type_image {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_image_w.svg);
}

.ico-type_sound {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_sound_w.svg);
}

.ico-type_unknown {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_unknown_w.svg);
}

.ico-type_class {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_class_w.svg);
}

.ico-type_time {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_time_w.svg);
}

.ico-type_homework {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_homework_w.svg);
}

.ico-type_test {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_test_w.svg);
}

.ico-type_question {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_classDoc_w.svg);
}

.ico-type_classDoc {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_image_w.svg);
}

.ico-type_contents {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico-type_contents_w.svg);
}

.help-list li .btn b {
  color: #fff !important;
}

.help-link .com-box p {
  color: #fff !important;
}

.video-box__table.tbl-list table td {
  background-color: #1C1C1D !important;
}

.scroll-container .view-class__btn.view-prev__btn.b-black {
  background-color: #39393D !important;
  opacity: 1;
}

.scroll-container .view-class__btn.view-next__btn.b-black {
  background-color: #39393D !important;
  opacity: 1;
}

.help-tit {
  color: #fff;
}

/* .help-wrap .sch-wrap .btn-sch {
  background-color: #1060e1 !important;
  color: #fff;
} */

.help-link__sub .help-link__list a {
  color: #fff;
}

.viewDetail .category-tit {
  background-color: transparent;
}

.api-wrap .display-con__box {
  border-color: #39393D !important;
}

.api-wrap .tit-wrap .tit {
  color: #ddd !important;
}

.api-info__top span {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/theme/dark/api-logo_dark.svg);
}

.api-info__top p {
  color: #fff;
}

.api-list__manual li .img img {
  background-color: #fff;
  border-radius: 50%;
}

.api-list__manual li p {
  color: #fff;
}

.api-dev__list li .display-bar .display-con.display-tit {
  background-color: #39393D !important;
}

.api-login .inner-wrap.api-login__util li {
  background-color: #39393D !important;
}

.api-mypage__info {
  background-color: #1C1C1D !important;
  border-color: #39393D !important;
}

.api-mypage__info li {
  color: #ddd !important;
}

.api-mypage__info li .t-blue {
  color: #1060e1 !important;
}

.api-main__menu .api-menu__box {
  border-color: #39393D !important;
}

.api-main__menu .api-menu__box h3,
.api-main__menu .api-menu__box p {
  color: #ddd !important;
}

.upload-info.upload-class .upload-type {
  background-color: #39393D !important;
  border-right: 1px solid #1C1C1D;
}

.main-stu .area__right .main-list .main-stu__use .stu-use__list {
  height: 260px;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .main-stu .area__right .main-list .main-stu__use .stu-use__list {
    height: 200px;
  }
}

.main-stu .area__right .main-stu__slide .main-stu__tit {
  color: #ddd !important;
}

.main-stu .area__right .main-stu__next .main-list__wrap .list-form__tit .date-list {
  color: #ddd !important;
}

.main-stu .area__right .main-list .main-stu__notice .tit-wrap button {
  color: #ddd !important;
}

.main-stu .area__right .main-list .main-stu__alarm .alarm-list li a .ico-arrow-black {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/scss/theme/../../images/ico_arr_w.svg);
  width: 13px;
  height: 8px;
  transform: rotate(-90deg);
}

.main-stu .area__right .main-list .main-stu__notice .tbl-list table .contents-top .date {
  color: #8F8F93 !important;
}

/*# sourceMappingURL=dark.css.map */

/* KHJ APPEND */
i.pi {
  color: #fafafa;
}

.p-datatable .p-datatable-tbody>tr {
  background-color: #1C1C1D !important;
}

.p-paginator .p-component {
  background-color: #39393D !important;
}

.p-datatable .p-paginator-bottom {
  background-color: #1C1C1D !important;
}

.p-dropdown {
  background-color: #39393D !important;
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #1C1C1D !important;
  background-color: #39393D !important;
}


.p-sidebar {
  background-color: #1C1C1D !important;
}


span.p-sidebar-close-icon {
  color: #fafafa !important;
}

button.p-sidebar-close {
  background: #6c757d !important;
}


.p-datatable-scrollable th.p-frozen-column {
  background-color: #1C1C1D;
}

.p-datatable-scrollable .p-datatable-tfoot>tr>td {
  background-color: #39393D;
}

.main-stu .area__right .main-list .main-stu__menu li p {
  color: #fff !important;
}

.calendar-wrap .fc .fc-toolbar-title,
.calendar-wrap .fc .fc-daygrid-day-number,
.main-stu .area__right .main-stu__next .main-list__wrap .list-form__tit p {
  color: #fff !important;
}

.p-dialog>div {
  background-color: #1C1C1D !important;
}

.p-dialog>div * {
  color: #fff !important;
}


.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__prev,
.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__next {
  background-image: none !important;
}

.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__prev::before,
.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: saturate(10) brightness(0.5);
  opacity: 0.3;
}

.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__prev::before {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/images/main-stu_prev.png);
}

.main-stu .area__right .main-stu__slide>ul>.swiper-slide.main-stu__next::before {
  background-image: url(https://www.neisplus.kr/csp-std/assets/neisplus/images/main-stu_next.png);
}